*{
    box-sizing: border-box;
}


body{
    margin: 5%;
    background-color: beige;
}
.logo{ 
    font-family: fantasy;
    text-shadow: 10pxS;
    font-size: 2.5em;
    text-align: left;
    color: rgb(255, 128, 0);
    background-color: burlywood;
    width: auto;
    margin: 50px auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;

   
    
}
.imagen{
    width: auto;
    height: 200px;
    
}
